@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:lightpink">
</body>
<body style="font:bolder">
</body>

<body style="background-color:burlywood ">
    <div class="jumbotron">
        <h1>DE-Store</h1>
        <h2>Welcome to DE-Store</h2>
        <p>This is a  Prototype that has Been created for the Software Architecture Coursework </p>
    </div>
</body>

<body style="font:bolder">

    <div class="row">
        <div class="col-md-6  col-md-sm-4">
            <h2>About  DE-Store</h2>
            <p>
                A nationwide retailing corporation such as Homebase  or
                B&Q is planning to develop a new distributed store management system for their retail branches to provide better coordination of their business.
                The proposed system is named DE-Store.
            </p>
            <p><a class="btn btn-default" href="http://www.diy.com/">Diy.com &raquo;</a></p>
            <p><a class="btn btn-default" href="http://www.homebase.co.uk/">HomeBase.com &raquo;</a></p>
        </div>
    </div>

 </body>


