@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:lightpink"></body>
<body style="text-align:center"></body>

<div class="jumbotron">
 
    <h1>DE-Store</h1>
    <h2>Welcome to DE-Store</h2>
    <p>This is a  Prototype that has Been created for the Software Architecture Coursework </p>
</div>

